/* Define a fonte padrão para o corpo do documento */
body {
  font-family: Arial, sans-serif; /* Fonte sans-serif para todo o texto */
}

/* Estilo dos itens da lista de navegação */
nav ul li {
  margin-right: 200px; /* Adiciona espaçamento entre os itens da lista */
  font-size: 30px; /* Define o tamanho da fonte dos itens */
}

/* Estilo dos links na lista de navegação */
nav ul li a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: inherit; /* Mantém a cor do link igual à do texto normal */
  border-bottom: 2px solid transparent; /* Cria uma borda inferior invisível */
  transition: border-color 0.3s ease; /* Adiciona uma transição suave para a cor da borda */
}

/* Estilo aplicado quando o mouse está sobre os links */
nav ul a:hover {
  border-color: #1d9b04; /* Muda a cor da borda ao passar o mouse */
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao texto */
  font-size: 0.9em; /* Diminui o tamanho da fonte levemente */
  transition: font-size 0.3s ease; /* Adiciona uma transição suave para o tamanho da fonte */
}

/* Estilização básica do carrossel */
.carousel {
  position: relative; /* Posicionamento relativo para o carrossel */
  width: 100%; /* Largura total do carrossel */
  max-width: 1000px; /* Largura máxima do carrossel */
  margin: auto; /* Centraliza o carrossel */
  overflow: hidden; /* Oculta o conteúdo que sai do contêiner */
  border-style: ridge; /* Estilo da borda do carrossel */
  border-radius: 10%; /* Bordas arredondadas */
  border-color: rgb(0, 131, 33); /* Cor da borda do carrossel */
}

/* Estilo das slides dentro do carrossel */
.slide {
  min-width: 100%; /* Cada slide ocupa 100% da largura do carrossel */
}

/* Estilo do título na seção inicial */
.home h1 {
  color: black; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  font-size: 35px; /* Tamanho da fonte */
  cursor: default; /* Cursor padrão ao passar sobre o título */
  margin-top: 100px; /* Margem superior para espaçamento */
}

/* Estilo aplicado ao título ao passar o mouse */
.home h1:hover {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao texto */
  font-size: 2.3em; /* Aumenta o tamanho da fonte */
  transition: font-size 0.3s ease; /* Adiciona uma transição suave para o tamanho da fonte */
}

/* Estilo do rodapé */
footer {
  padding: 0.2px; /* Padding mínimo */
  background-color: rgb(22, 19, 19); /* Cor de fundo do rodapé */
  text-align: center; /* Centraliza o texto no rodapé */
  font-size: 1.3em; /* Tamanho da fonte do rodapé */
  color: white; /* Cor do texto do rodapé */
}
